.imagem {
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 20px;
  }
  ion-card {
   background-color: #66bb6a;
  }
  ion-text {
    text-align: center;
    color: #fff;
  }
  p{
    font-size: 1.2em;
  }
  